#==============================================================================#
# Build artifacts
#==============================================================================#
build/
_build/

#==============================================================================#
# Dependencies (created by velox/scripts/setup-*.sh)
#==============================================================================#
deps-download/
deps-install/
